@font-face {
    font-family: "Cinema";
    src: url(../images/cinema_st.ttf);
  }

body {
    background: url(../images/movie-background.jpg);
    color: rgb(249,253,255);
    overflow: auto;
}
.container-fluid {
    background: rgb(7,30,60);
}
h1 {
    font-family: "Cinema";
    font-size: 80px;
}
h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button {
    background: rgb(7,30,60) !important;
    color: rgb(249,253,255) !important;
    margin: 5px;
}
.img {
    display: inline-block;
}